In [18]:
import pandas as pd
import numpy as np

## Loading Datasets

In [24]:
labels = ['Lagged', 'MA', 'WMA', 'MA-Lagged', 'WMA-Lagged']

def load_datasets():
    datasets = dict()
    for lb in labels:
        new_df = pd.read_excel(f"River-Data-{lb}.xlsx")
        new_df.drop(["Unnamed: 0"], axis=1, inplace=True)
        datasets[lb] = new_df
    
    return datasets

data = load_datasets()

In [25]:
for l in labels:
    print(l, data[l].shape)

Lagged (1448, 26)
MA (1445, 42)
WMA (1451, 42)
MA-Lagged (1444, 42)
WMA-Lagged (1450, 42)

## Building Feature Sets

In [135]:
def build_feature_set(*datasets):
    assert len(datasets) > 0, "No data sets entered"
    datasets = list(datasets)
    min_rows = min(d.shape[0] for d in datasets)
    
    for i, ds in enumerate(datasets):
        datasets[i] = ds.truncate(before=ds.shape[0]-min_rows).reset_index()
        datasets[i].drop(["index"], axis=1, inplace=True)
        
    merged_df = datasets[0].iloc[:, :2]
    for ds in datasets:
        merged_df = pd.concat([merged_df, ds.iloc[:, 2:]], axis=1)
    
    merged_cols = list(merged_df.columns)
    selected_cols = []
    
    for i in range(0, len(merged_cols), 2):
        format_str = f"{i+1}) {merged_cols[i]}"
        if i != len(merged_cols) - 1:
            second_part = f"{i+2}) {merged_cols[i+1]}"
            num_spaces = 50 - len(format_str)
            format_str += num_spaces*" " + second_part
        print(format_str)
    
    selected_indices = input("\nSelect columns: ")
    for index in selected_indices.split(","):
        if "-" in index:
            first_i, second_i = index.split("-")
            selected_cols += merged_cols[int(first_i) - 1: int(second_i)]
        else:
            selected_cols.append(merged_cols[int(index) - 1])
    
    return merged_df[selected_cols]
        
    
fs = build_feature_set(data['WMA-Lagged'], data['WMA'], data['Lagged'], data['MA'], data['MA-Lagged'])

1) Date                                           2) Skelton MDF (Cumecs)
3) Crakehill MDF (WMA3) (t-1)                     4) Skip Bridge MDF (WMA3) (t-1)
5) Westwick MDF (WMA3) (t-1)                      6) Skelton MDF (WMA3) (t-1)
7) Crakehill MDF (WMA4) (t-1)                     8) Skip Bridge MDF (WMA4) (t-1)
9) Westwick MDF (WMA4) (t-1)                      10) Skelton MDF (WMA4) (t-1)
11) Crakehill MDF (WMA5) (t-1)                    12) Skip Bridge MDF (WMA5) (t-1)
13) Westwick MDF (WMA5) (t-1)                     14) Skelton MDF (WMA5) (t-1)
15) Crakehill MDF (WMA6) (t-1)                    16) Skip Bridge MDF (WMA6) (t-1)
17) Westwick MDF (WMA6) (t-1)                     18) Skelton MDF (WMA6) (t-1)
19) Crakehill MDF (WMA7) (t-1)                    20) Skip Bridge MDF (WMA7) (t-1)
21) Westwick MDF (WMA7) (t-1)                     22) Skelton MDF (WMA7) (t-1)
23) Arkengarthdale DRT (WMA3) (t-1)               24) East Cowton DRT (WMA3) (t-1)
25) Malham Tarn DRT (WMA3) (t-1)                  26) Snaizeholme DRT (WMA3) (t-1)
27) Arkengarthdale DRT (WMA4) (t-1)               28) East Cowton DRT (WMA4) (t-1)
29) Malham Tarn DRT (WMA4) (t-1)                  30) Snaizeholme DRT (WMA4) (t-1)
31) Arkengarthdale DRT (WMA5) (t-1)               32) East Cowton DRT (WMA5) (t-1)
33) Malham Tarn DRT (WMA5) (t-1)                  34) Snaizeholme DRT (WMA5) (t-1)
35) Arkengarthdale DRT (WMA6) (t-1)               36) East Cowton DRT (WMA6) (t-1)
37) Malham Tarn DRT (WMA6) (t-1)                  38) Snaizeholme DRT (WMA6) (t-1)
39) Arkengarthdale DRT (WMA7) (t-1)               40) East Cowton DRT (WMA7) (t-1)
41) Malham Tarn DRT (WMA7) (t-1)                  42) Snaizeholme DRT (WMA7) (t-1)
43) Crakehill MDF (WMA3)                          44) Skip Bridge MDF (WMA3)
45) Westwick MDF (WMA3)                           46) Skelton MDF (WMA3)
47) Crakehill MDF (WMA4)                          48) Skip Bridge MDF (WMA4)
49) Westwick MDF (WMA4)                           50) Skelton MDF (WMA4)
51) Crakehill MDF (WMA5)                          52) Skip Bridge MDF (WMA5)
53) Westwick MDF (WMA5)                           54) Skelton MDF (WMA5)
55) Crakehill MDF (WMA6)                          56) Skip Bridge MDF (WMA6)
57) Westwick MDF (WMA6)                           58) Skelton MDF (WMA6)
59) Crakehill MDF (WMA7)                          60) Skip Bridge MDF (WMA7)
61) Westwick MDF (WMA7)                           62) Skelton MDF (WMA7)
63) Arkengarthdale DRT (WMA3)                     64) East Cowton DRT (WMA3)
65) Malham Tarn DRT (WMA3)                        66) Snaizeholme DRT (WMA3)
67) Arkengarthdale DRT (WMA4)                     68) East Cowton DRT (WMA4)
69) Malham Tarn DRT (WMA4)                        70) Snaizeholme DRT (WMA4)
71) Arkengarthdale DRT (WMA5)                     72) East Cowton DRT (WMA5)
73) Malham Tarn DRT (WMA5)                        74) Snaizeholme DRT (WMA5)
75) Arkengarthdale DRT (WMA6)                     76) East Cowton DRT (WMA6)
77) Malham Tarn DRT (WMA6)                        78) Snaizeholme DRT (WMA6)
79) Arkengarthdale DRT (WMA7)                     80) East Cowton DRT (WMA7)
81) Malham Tarn DRT (WMA7)                        82) Snaizeholme DRT (WMA7)
83) Crakehill MDF (t-1)                           84) Skip Bridge MDF (t-1)
85) Westwick MDF (t-1)                            86) Skelton MDF (t-1)
87) Crakehill MDF (t-2)                           88) Skip Bridge MDF (t-2)
89) Westwick MDF (t-2)                            90) Skelton MDF (t-2)
91) Crakehill MDF (t-3)                           92) Skip Bridge MDF (t-3)
93) Westwick MDF (t-3)                            94) Skelton MDF (t-3)
95) Arkengarthdale DRT (t-1)                      96) East Cowton DRT (t-1)
97) Malham Tarn DRT (t-1)                         98) Snaizeholme DRT (t-1)
99) Arkengarthdale DRT (t-2)                      100) East Cowton DRT (t-2)
101) Malham Tarn DRT (t-2)                        102) Snaizeholme DRT (t-2)
103) Arkengarthdale DRT (t-3)                     104) East Cowton DRT (t-3)
105) Malham Tarn DRT (t-3)                        106) Snaizeholme DRT (t-3)
107) Crakehill MDF (MA3)                          108) Skip Bridge MDF (MA3)
109) Westwick MDF (MA3)                           110) Skelton MDF (MA3)
111) Crakehill MDF (MA4)                          112) Skip Bridge MDF (MA4)
113) Westwick MDF (MA4)                           114) Skelton MDF (MA4)
115) Crakehill MDF (MA5)                          116) Skip Bridge MDF (MA5)
117) Westwick MDF (MA5)                           118) Skelton MDF (MA5)
119) Crakehill MDF (MA6)                          120) Skip Bridge MDF (MA6)
121) Westwick MDF (MA6)                           122) Skelton MDF (MA6)
123) Crakehill MDF (MA7)                          124) Skip Bridge MDF (MA7)
125) Westwick MDF (MA7)                           126) Skelton MDF (MA7)
127) Arkengarthdale DRT (MA3)                     128) East Cowton DRT (MA3)
129) Malham Tarn DRT (MA3)                        130) Snaizeholme DRT (MA3)
131) Arkengarthdale DRT (MA4)                     132) East Cowton DRT (MA4)
133) Malham Tarn DRT (MA4)                        134) Snaizeholme DRT (MA4)
135) Arkengarthdale DRT (MA5)                     136) East Cowton DRT (MA5)
137) Malham Tarn DRT (MA5)                        138) Snaizeholme DRT (MA5)
139) Arkengarthdale DRT (MA6)                     140) East Cowton DRT (MA6)
141) Malham Tarn DRT (MA6)                        142) Snaizeholme DRT (MA6)
143) Arkengarthdale DRT (MA7)                     144) East Cowton DRT (MA7)
145) Malham Tarn DRT (MA7)                        146) Snaizeholme DRT (MA7)
147) Crakehill MDF (MA3) (t-1)                    148) Skip Bridge MDF (MA3) (t-1)
149) Westwick MDF (MA3) (t-1)                     150) Skelton MDF (MA3) (t-1)
151) Crakehill MDF (MA4) (t-1)                    152) Skip Bridge MDF (MA4) (t-1)
153) Westwick MDF (MA4) (t-1)                     154) Skelton MDF (MA4) (t-1)
155) Crakehill MDF (MA5) (t-1)                    156) Skip Bridge MDF (MA5) (t-1)
157) Westwick MDF (MA5) (t-1)                     158) Skelton MDF (MA5) (t-1)
159) Crakehill MDF (MA6) (t-1)                    160) Skip Bridge MDF (MA6) (t-1)
161) Westwick MDF (MA6) (t-1)                     162) Skelton MDF (MA6) (t-1)
163) Crakehill MDF (MA7) (t-1)                    164) Skip Bridge MDF (MA7) (t-1)
165) Westwick MDF (MA7) (t-1)                     166) Skelton MDF (MA7) (t-1)
167) Arkengarthdale DRT (MA3) (t-1)               168) East Cowton DRT (MA3) (t-1)
169) Malham Tarn DRT (MA3) (t-1)                  170) Snaizeholme DRT (MA3) (t-1)
171) Arkengarthdale DRT (MA4) (t-1)               172) East Cowton DRT (MA4) (t-1)
173) Malham Tarn DRT (MA4) (t-1)                  174) Snaizeholme DRT (MA4) (t-1)
175) Arkengarthdale DRT (MA5) (t-1)               176) East Cowton DRT (MA5) (t-1)
177) Malham Tarn DRT (MA5) (t-1)                  178) Snaizeholme DRT (MA5) (t-1)
179) Arkengarthdale DRT (MA6) (t-1)               180) East Cowton DRT (MA6) (t-1)
181) Malham Tarn DRT (MA6) (t-1)                  182) Snaizeholme DRT (MA6) (t-1)
183) Arkengarthdale DRT (MA7) (t-1)               184) East Cowton DRT (MA7) (t-1)
185) Malham Tarn DRT (MA7) (t-1)                  186) Snaizeholme DRT (MA7) (t-1)

Select columns: 1,2,3-6,99-102
['Date', 'Skelton MDF (Cumecs)', 'Crakehill MDF (WMA3) (t-1)', 'Skip Bridge MDF (WMA3) (t-1)', 'Westwick MDF (WMA3) (t-1)', 'Skelton MDF (WMA3) (t-1)', 'Arkengarthdale DRT (t-2)', 'East Cowton DRT (t-2)', 'Malham Tarn DRT (t-2)', 'Snaizeholme DRT (t-2)']

In [136]:
fs

,Date,Skelton MDF (Cumecs),Crakehill MDF (WMA3) (t-1),Skip Bridge MDF (WMA3) (t-1),Westwick MDF (WMA3) (t-1),Skelton MDF (WMA3) (t-1),Arkengarthdale DRT (t-2),East Cowton DRT (t-2),Malham Tarn DRT (t-2),Snaizeholme DRT (t-2)
0,1993-01-08,56.66,22.256850,8.248055,28.248591,63.880787,0.0,0.0,1.6,0.8
1,1993-01-09,78.10,22.127922,7.755102,28.920420,60.256235,5.6,4.0,17.6,36.0
2,1993-01-10,125.70,28.827045,7.954440,44.617368,69.195577,1.6,0.0,1.6,2.4
3,1993-01-11,195.90,39.924360,10.617821,69.308296,97.475406,14.4,0.8,55.2,104.8
4,1993-01-12,125.40,52.718427,18.093061,69.405696,146.711744,20.8,2.4,76.0,136.8
...,...,...,...,...,...,...,...,...,...,...
1439,1996-12-27,29.52,14.392193,9.506391,15.440107,43.046081,0.0,3.2,0.8,1.6
1440,1996-12-28,28.67,12.646096,7.613695,13.499053,36.283041,0.0,0.8,0.0,0.0
1441,1996-12-29,29.31,11.873048,6.549848,12.455027,32.476520,1.6,14.4,8.8,3.2
1442,1996-12-30,34.28,11.986524,5.939424,12.118013,30.893260,11.2,11.2,4.8,4.8
1443,1996-12-31,39.42,13.893262,6.058212,13.186507,32.586630,3.2,4.8,0.0,0.8